.ResourceGrid {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border-top: solid salmon;
    padding: 5px;
}

.ResourceTile {
    min-width: fit-content;
    white-space: nowrap;
}

.Icon {
    height: calc(10px + 2vmin);
    width: calc(10px + 2vmin)
}