.PlanetTile {
  border: thick double blanchedalmond;
  border-radius: 0.6em;
  margin: 0.5em;
}

.Definition {
  margin: 1em;
  color: blanchedalmond;
  display: flex;
  align-items: center;
  gap: 1.5em;
  justify-content: space-around;
}

.UpgradeCost {
  border-radius: 20px;
  border: 2px solid beige;
  background-color: rgb(78, 86, 87);
  display: flex;
  font-size: small;
  padding: 20px;
  text-align: center;
}