.PlanetTile {
  border: thick double blanchedalmond;
  border-radius: 0.6em;
  margin: 0.5em;
}

.Definition {
  margin: 1em;
  color: blanchedalmond;
  display: flex;
  align-items: center;
  gap: 1.5em;
  justify-content: space-around;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.SimpleDescription {
  display: flex;
  flex-direction: column;
}

.CelestialBodyRenderer {
  min-width: 100px;
  min-height: 100px;
}

.LevelSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PlanetName {
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LevelSection {
  gap: 10px
}


@media only screen and (max-width: 600px) {
  .Definition {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .PlanetName {
    flex-basis: 20px;
  }

  .LevelSection {
    flex-direction: row;
  }
}