.container {
  width: 100%;
  background-image: linear-gradient(#26408B, #22387B);
  margin-bottom: 20px;
  height: 50px;
  max-height: 50px;
  position: fixed;
}

.profile {
  font-size: medium;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.profile .name {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 50px;
  margin: 5px;
}

.profile .name a {
  margin: -10px 0;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  max-height: 50px;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
  margin: 0 1ch;
}

a {
  color: aliceblue;
  cursor: pointer;
  margin: 0 1ch;
}

a:hover {
  color: orange;
  cursor: pointer;
  margin: 0 1ch;
}

.hide {
  overflow: hidden;
}