@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

body {
  background-color: #282c34;
}

.App {
  font-family: "Koulen", cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.UIdisplay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5vh;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

@media only screen and (max-width: 600px) {
  .UIdisplay {
    flex-direction: row;
  }
}
