@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

body {
  background-color: #282c34;
}

a {
  color: aliceblue;
}

.App {
  font-family: "Koulen", cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Planetview {
  display: flex;
  flex-direction: column;
  border: thick solid salmon;
  background-image: linear-gradient(#414a4c, #3d4c51 );
  /* border-radius: 1.2em; */
}

.Planetview h3 {
  margin: 1% 1ch;
}

.Planetgrid {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0.2em;
}

.PlanetTile {
  border: thick double blanchedalmond;
  border-radius: 0.6em;
  margin: 0.5em;
}

.Definition {
  margin: 1em;
  color: blanchedalmond;
  display: flex;
  align-items: center;
  gap: 1.5em;
  justify-content: space-around;
}
